
div{
    background-color: rgb(255, 202, 56);
    border: 5px solid black;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation-name:  circle;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;

}

@keyframes circle {
    0%   { margin-left:0px;}
    25%  { margin-left:400px; } 
  }