*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.parent{
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10% 60% 30%;
    row-gap: 5px;
    column-gap: 5px;
}


.black{
 background-color: black;
    grid-area: 1 / 1 / 2/ 4;
}


.orange{
    background-color: orange;
       grid-area: 2 / 1 / 3 / 3;
   }

   .green{
    background-color: green;
       grid-area: 2 / 3 / 3/ 4;
   }

   .blue{
    background-color: blue;
      grid-area: 3/1/4/4;
   }